/* src/index.css */

/* Define color variables */
:root {
  --color-turquoise: #5ACCCC;
  --color-white: #FFFFFF;
  --color-steel-blue: #335C6E;
  --color-yellow: #FABD33;
  --color-turquoise-light: #CFFAFA;
  --color-orange-red: #F76434;
  --color-teal: #4AA088;
  --color-yellow-dark: #FAAD00;
  --color-turquoise-dark-1: #53C2C2;
  --color-turquoise-dark-2: #28B8B8;
  --color-orange-pastel: #FFE6DC;
}

/* Base styles */
body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-turquoise-light);
}

/* Container styles */
.container {
  margin-top: 20px;
}

/* Header styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Header title styles */
.header h1 {
  color: var(--color-steel-blue);
}

/* Reading list link styles */
.header .reading-list-link {
  margin-top: 10px;
}

/* Book list and Reading list container styles */
.book-list-container,
.reading-list-container {
  margin-top: 20px;
}

/* Book card styles */
.book-card {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  border: 1px solid var(--color-steel-blue);
  border-radius: 8px;
}

/* Book image styles */
.book-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* Book card content styles */
.book-card .MuiCardContent-root {
  padding: 16px;
}

/* Book title styles */
.book-card .MuiTypography-h6 {
  font-size: 1.25rem;
  color: var(--color-steel-blue);
}

/* Book author styles */
.book-card .MuiTypography-body2 {
  font-size: 0.875rem;
  color: var(--color-steel-blue);
  margin-bottom: 8px;
}

/* Primary button styles */
.book-card .MuiButton-containedPrimary {
  background-color: var(--color-turquoise);
  color: var(--color-white);
}

/* Secondary button styles */
.book-card .MuiButton-containedSecondary {
  background-color: var(--color-orange-red);
  color: var(--color-white);
}

/* Search bar styles */
.search-bar {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Autocomplete root styles */
.MuiAutocomplete-root {
  width: 60%; 
}

/* Autocomplete input root styles */
.MuiAutocomplete-inputRoot {
  width: 100%; 
}

/* Autocomplete popper styles */
.MuiAutocomplete-popper {
  max-height: 200px; 
  width: calc(100% - 10px); 
  margin-top: 5px;
}

/* Book image in option styles */
.MuiAutocomplete-option .book-image {
  height: 50px; 
  width: 30px; 
}
